.song-timeline {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    padding: 1rem;
  }
  input {
    width: 100%;
    padding: 1rem 0;
    -webkit-appearance: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.song-controlls {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem;
  cursor: pointer;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
}

.track {
  background-color: lightblue;
  width: 100%;
  height: 1rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.animate-track {
  width: 100%;
  height: 100%;
  background-color: grey;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
  pointer-events: none;
}

@media screen and (max-width: 678px) {
  .song-timeline {
    width: 100%;
  }
  .song-controlls {
    width: 70%;
  }
}
